@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lpqpi1');
  src:  url('fonts/icomoon.eot?lpqpi1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lpqpi1') format('truetype'),
    url('fonts/icomoon.woff?lpqpi1') format('woff'),
    url('fonts/icomoon.svg?lpqpi1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\6d";
}
.icon-facebook:before {
  content: "\66";
}
.icon-instagram:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\74";
}
.icon-youtube:before {
  content: "\79";
}
.icon-dribbble:before {
  content: "\64";
}
.icon-github:before {
  content: "\67";
}
.icon-linkedin:before {
  content: "\6c";
}
